<!-- BEGIN: main -->
<div style='padding-left: 30px; padding-right: 30px; padding-top: 30px ; padding-bottom: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; background-color:#FFFFFF'>
<img src="{img_logo}" alt="Logo" longdesc="Logo"><br>
{solicitud_titulo}
<hr style= 'color: #999999; text-decoration: none;'>
<p><strong>{tipo_label}</strong>: {tipo}<br>
<strong>{denominacion_label}</strong>: {denominacion}<br>
<strong>{director_label}</strong>: {director}<br>
{comment}
</p>
<hr style= 'color: #999999; text-decoration: none;'></body></html>

<!-- END: main -->